<div class="d-flex flex-wrap">
	<% self.scaleDisplay.forEach(function(d,i){%> 
		<div class="map-legend-holder">
			<div class="legendBoxwide" style="background-color:<%=self.colorRange[i]%>;"></div>
			<div class="map-legend-text"><%=d%></div>
		</div>
	<%})%>
	<%if (self.hashValue){%>
		<div class="map-legend-holder">
			<div class="legendBoxwide hash"></div>
			<div class="map-legend-text"><%= self.hashValueDisplay%></div>
		</div>
		
	<%}%>

</div>

<div id="<%=self.targetDiv%>graphic"></div>